@{
    ViewData["Title"] = "Index Page";
}

<div class="text-left">
    <h1>Retain the TempData value in the next Sub Sequent Request</h1>
    @* Don’t Fetch the Data from TempData *@
    <b>Name:</b> @TempData["Name"]
    <br />
    <b>Age:</b> @TempData["Age"]
</div>